body {
  background: #fafafa;
  color: #333333;
}

nav.navbar-default {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
  margin-bottom:40px;
}

.navbar-header img {
 width: 40%;
}
.navbar-container

navbar-container .site-menu {
  text-align:right;
}

ul.navbar-nav {
  text-align:right;
}

ul.navbar-nav li {
  margin:10px;
  display:inline-block;
}

ul.navbar-nav li a {
  color: #3897f0;
  font-size: 16px;
  font-weight:bold;
}

.listings-container {
  display:flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-wrapper {
  margin-bottom: 30px;
}

.image-thumbnail-container img {
  width:100%;
}

.image-caption {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.image-caption-image {
  display: flex;
  justify-content: center;
  height: auto;
}

.image-container {
  align-items: center;
}
.vertical-align {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.previous-image, .next-image {
text-align: center;
}
.arrow {
  width:60%;
}
.arrow img {
  margin:0 auto;
}
.image img {
  width:100%;
}
.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-and-nav-buttons-container {
}

.image {
  justify-content: center;
  height: auto;
}

.caption-list {
  text-align: center;
}
.new-caption {
  float:right;
}
.caption {
  clear:both;
  margin-bottom:20px;
  background:#fff;
  padding:20px;
}

.image-caption p {
  text-transform: uppercase;
  font-family:impact;
  font-size: 44px;
  webkit-text-stroke: 3px black;
  color: white;
  text-shadow:
     -2px 0px 0 #000,
     0px 2px 0 #000,
     2px 0px 0 #000,
     0px -2px 0 #000;

   position: relative;
top: -200px;
width: 60%;
text-align:center;
}
.image-add-caption {
}

li {
  list-style: none;
}

.login-page {
  display: flex;
  justify-content: center;
}

.profile-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.add-caption-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.add-caption {
  margin: 15px;
  text-align: center;
  width: 50%;
}

li {
  list-style: none;
}
<<<<<<< HEAD
=======

.text-box {
  width: 300px;
  height: 75px;
  font-size: 20px;
}

.error {
  color:red;
  text-align: center;
}
>>>>>>> 6bd03f789a79407240708b2d6855f2e21eaeddf3
