.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.navbar-container .site-name, .navbar-container .site-menu {
  width:50%;
}
navbar-container .site-menu {
  text-align:right;
}

ul.menu {
  text-align:right;
}

ul.menu li {
  margin:10px;
  display:inline-block;
}

.listings-container {
  display:flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-wrapper {
  max-width: 20%;
  margin:10px;
}

.image-thumbnail-container img {
  width:100%;
}

.image-caption {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.image-caption-image {
  display: flex;
  justify-content: center;
  max-width: 600px;
  height: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  max-width: 600px;
  height: auto;
}

.caption-list {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.image-add-caption {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: auto;
}

li {
  list-style: none;
}

.login-page {
  display: flex;
  justify-content: center;
}

.add-caption-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.add-caption {
  margin: 15px;
  text-align: center;
}

li {
  list-style: none;
}

.text-box {
  width: 300px;
  height: 75px;
  font-size: 20px;
}
